<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detallesEntrenamiento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="calendario"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detallesEntrenamiento</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- .<ion-content>
    <ion-slides [options]="slideOpts" class="carousel-container">
      <ion-slide *ngFor="let image of images">
        <img [src]="image" class="slide-image"/>
      </ion-slide>
    </ion-slides>
  </ion-content> -->

  <ion-button [routerLink]="['/detalles-entrenamiento']">
    <ion-icon name="share-social-outline"></ion-icon>
    Post
  </ion-button>

  <h1>Entrenamiento del dia</h1>
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime" enabled="false" presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-item-divider></ion-item-divider>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          Completado
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-content>
          00:45:35
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-content>
          Intensidad media
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-item-divider></ion-item-divider>

  <h4>Sensaciones</h4>
  <p>Durante el entrenamiento de fuerza, mis músculos trabajan intensamente, cada repetición es un desafío. A medida que avanzo, la fatiga se acumula, pero mi determinación sigue firme. A veces, siento dolor, pero sé que es parte del proceso. Al final, la satisfacción y la euforia me invaden, sabiendo que cada esfuerzo me acerca más a mis metas.</p>

  <ion-item-divider></ion-item-divider>

  <h4>Entrenamiento realizado</h4>
  
<h6>Calentamiento:</h6>
<ul>
  <li>5 minutos de cardio ligero (por ejemplo, trotar o bicicleta estática).</li>
  <li>Estiramientos dinámicos para preparar los músculos.</li>
</ul>

<h6>Ejercicios Principales:</h6>
<ul>
  <li>Sentadillas: 4 series x 8 repeticiones.</li>
  <li>Press de banca: 4 series x 8 repeticiones.</li>
  <li>Peso muerto: 3 series x 10 repeticiones.</li>
</ul>

<h6>Ejercicios Complementarios:</h6>
<ul>
  <li>Lunges: 3 series x 12 repeticiones (cada pierna).</li>
  <li>Pull-ups: 3 series x 8 repeticiones.</li>
  <li>Flexiones de brazos: 3 series x 12 repeticiones.</li>
</ul>

<h6>Core:</h6>
<ul>
  <li>Plancha: 3 series de 30 segundos.</li>
  <li>Elevación de piernas colgado: 3 series x 12 repeticiones.</li>
</ul>

<h6>Enfriamiento:</h6>
<ul>
  <li>Estiramientos estáticos para relajar los músculos trabajados.</li>
  <li>Respiración profunda y relajación.</li>
</ul>

<ion-button [routerLink]="['/calendario']">Borrar</ion-button>
<ion-button [routerLink]="['/editar-entrenamiento']">Modificar</ion-button>

  
</ion-content>