.carousel-container {
    height: 100%;
  }
  
  .slide-image {
    width: 100%;
    height: auto;
  }

  ion-card {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }

  swiper-container{
    width: 100%;
    height: auto;
  }

  swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }