<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true" class="full-background">
  <ion-header collapse="condense"></ion-header>

  <div id="container" class="container">
    <div class="text-center custom-margin-top">
      <ion-img
        class="rounded img-fluid mb-4 custom-rounded-img"
        src="assets/imagenes/LogoAPPGRANDEE.PNG"
      ></ion-img>
    </div>

    <div class="card-wrapper">
      <div class="card-container">
        <ion-segment [(ngModel)]="selectTabs">
          <ion-segment-button value="registrarse">
            <ion-label class="h3-like">Registrarse</ion-label>
          </ion-segment-button>
          <ion-segment-button value="iniciarSesion">
            <ion-label class="h3-like">Iniciar sesión</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div *ngIf="selectTabs === 'registrarse'" class="mt-3">
          <h1 class="float-right mx-4 mb-3 text-bold">Crear cuenta</h1>
          <form class="px-4">
            <div class="form-group mb-3">
              <ion-input
                name="nombreUsuario"
                [(ngModel)]="nombreUsuario"
                type="text"
                class="custom-input"
                placeholder="Nombre de usuario"
                required
              ></ion-input>
            </div>
            <div class="form-group mb-3">
              <ion-input
                name="email"
                [(ngModel)]="email"
                type="email"
                class="custom-input"
                placeholder="Email"
                required
              ></ion-input>
            </div>

            <div class="form-group mb-3">
              <ion-select
                name="preguntaSeguridad"
                [(ngModel)]="preguntaSeguridad"
                class="custom-input"
                placeholder="Pregunta de seguridad"
                required
              >
                <ion-select-option value="nombreMascota">¿Cuál es el nombre de tu primera mascota?</ion-select-option>
                <ion-select-option value="ciudadNacimiento">¿En qué ciudad naciste?</ion-select-option>
                <ion-select-option value="escuelaPrimaria">¿Cuál es el nombre de tu escuela primaria?</ion-select-option>
                <ion-select-option value="primerCoche">¿Cuál fue la marca de tu primer coche?</ion-select-option>
                <ion-select-option value="nombrePadre">¿Cuál es el segundo nombre de tu padre?</ion-select-option>
              </ion-select>
            </div>            

            <div class="form-group mb-3">
              <ion-input
                name="respuestaSeguridad"
                [(ngModel)]="respuestaSeguridad"
                type="text"
                class="custom-input"
                placeholder="Respuesta a la pregunta"
                required
              ></ion-input>
            </div>

            <div class="form-group mb-3">
              <ion-input
                name="contrasenya"
                [(ngModel)]="contrasenya"
                type="password"
                class="custom-input"
                placeholder="Contraseña"
                required
              ><ion-input-password-toggle slot="end" color="light"></ion-input-password-toggle></ion-input>
            </div>
            <div class="form-group mb-3">
              <ion-input
                name="repetirContasenya"
                [(ngModel)]="repetirContasenya"
                type="password"
                class="custom-input"
                placeholder="Repetir contraseña"
                required
              ><ion-input-password-toggle slot="end" color="light"></ion-input-password-toggle></ion-input>
            </div>
            <div class="text-center mt-3">
              <button
                class="btn btn-purple btn-md rounded-pill px-4"
                style="color: white"
                (click)="registrarse()">
                Comenzar
              </button>
            </div>
          </form>
        </div>

        <div *ngIf="selectTabs === 'iniciarSesion'" class="mt-4">
          <div class="mx-4">
            <!-- Agrega márgenes a los lados -->
            <h1 class="text-bold">¡Qué alegría tenerte de vuelta!</h1>
            <p style="color: #999999">
              Completa la información a continuación para acceder a tu cuenta
            </p>
          </div>
          <form class="px-4">
            <div class="form-group mb-3">
              <ion-input
                name="email"
                [(ngModel)]="emailLogin"
                type="email"
                class="custom-input"
                placeholder="Email"
                required
              ></ion-input>
            </div>
            <div class="form-group mb-3">
              <ion-input
                name="contrasenya"
                [(ngModel)]="contrasenyaLogin"
                type="password"
                class="custom-input"
                placeholder="Contraseña"
                required
              ><ion-input-password-toggle slot="end" color="light"></ion-input-password-toggle></ion-input>
            </div>
            <div class="text-center mt-3">
              <button
                class="btn btn-purple btn-md rounded-pill px-4"
                style="color: white"
                (click)="login()">
                Acceder
              </button>
            </div>
          </form>
          <ion-router-link
            [routerLink]="['/recuperar-contasenya']"
            class="d-block text-center mt-3 link-bold-white"
          >
            ¿Has olvidado la contraseña?
          </ion-router-link>
        </div>
      </div>
    </div>
  </div>
</ion-content>
