<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-datetime locale="es-ES" color="rose" presentation="date"></ion-datetime>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Entrenamiento del dia</ion-card-title>
      <ion-card-subtitle>COMPLETADO</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      00:45:35
    </ion-card-content>
  </ion-card>

  <ion-button [routerLink]="['/nuevo-entrenamiento']"><ion-icon slot="start" name="add-outline"></ion-icon>Añadir</ion-button>

</ion-content>
