<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="full-background">
  <ion-header collapse="condense">
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size="3">
        <ion-chip [routerLink]="['/pagina-perfil']" class="gray-background">
          <ion-avatar class="custom-avatar">
            <img alt="Foto de perfil" src="assets/imagenes/perfilPako.png" class="custom-rounded-img" />
          </ion-avatar>
          <ion-label class="white-bold">{{nombreUsuario}}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
  <h1 class="white-text float-right mx-4 mb-3">Calendario</h1>

  <div class="custom-datetime-wrapper">

    <full-calendar #calendar [options]="calendarOptions">cacac</full-calendar>

    <!--<ion-datetime #myDatetime locale="es-ES" presentation="date" class="custom-datetime"></ion-datetime>-->
  </div>
  <div class="card-wrapper">
    <div class="card-container">
      <ion-card class="custom-card" [routerLink]="['/detalles-entrenamiento']">
        <ion-card-header>
          <ion-card-subtitle class="custom-subtitle">{{estadoEntrenamiento}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-title>Entrenamiento del día</ion-card-title>

        <div class="flex-container">
          
          <ion-card-content class="custom-content">Hora: {{horaEntrenamiento}}</ion-card-content>
          <ion-card-content class="custom-content">Tiempo: {{tiempoEntrenamiento}}</ion-card-content>
        </div>
      </ion-card>
    </div>

    <div class="text-center mt-3">
      <button [routerLink]="['/nuevo-entrenamiento']" class="btn btn-purple btn-md rounded-pill px-4"
        style="color: white">
        + Añadir
      </button>
    </div>

  </div>

    


</ion-content>