<ion-header [translucent]="true">
  <ion-toolbar class="full-background" >
    <ion-buttons slot="start">
      <ion-back-button style="color: white" defaultHref="calendario"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="full-background">
  <ion-header class="full-background" collapse="condense">
    <ion-toolbar class="full-background">
    </ion-toolbar>
  </ion-header>

  <h1 class="white-text float-right mx-4 mb-2">Nuevo entrenamiento</h1>

  <div id="container" class="container custom-margin">

    
    <div class="card-wrapper">
      <div class="card-container">
        <div class="content-wrapper">
          <p>02/06/2024</p>
          
          <ion-checkbox>Completado</ion-checkbox>

          <p>Introduce el tiempo</p>
          <ion-picker>
            <ion-picker-column value="00">
              <ion-picker-column-option value="" disabled="false">Horas</ion-picker-column-option>
              <ion-picker-column-option value="00">00</ion-picker-column-option>
            </ion-picker-column>
            <ion-picker-column value="30">
              <ion-picker-column-option value="" disabled="false">Minutos</ion-picker-column-option>
              <ion-picker-column-option value="30">30</ion-picker-column-option>
            </ion-picker-column>
            <ion-picker-column value="25">
              <ion-picker-column-option value="" disabled="false">Segundos</ion-picker-column-option>
              <ion-picker-column-option value="25">25</ion-picker-column-option>
            </ion-picker-column>
          </ion-picker>

          <ion-list>
            <ion-item>
              <ion-select placeholder="Selecciona una opción">
                <ion-select-option value="baja">Intensidad baja</ion-select-option>
                <ion-select-option value="media">Intensidad media</ion-select-option>
                <ion-select-option value="alta">Intensidad alta</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-textarea
            label="Sensaciones"
            labelPlacement="floating"
            fill="outline"
            placeholder="Escribe tus sensaciones sobre el entrenamiento realizado"
          ></ion-textarea>

          <p>---------Especificaciones---------</p>

          <ion-button [routerLink]="['/calendario']">
            <ion-icon slot="start" name="image-outline"></ion-icon>
            Subir imagenes
          </ion-button>

          <ion-textarea
            label="Entrenamiento"
            labelPlacement="floating"
            fill="outline"
            placeholder="Indica tu entrenamiento realizado"
          ></ion-textarea>

          <ion-button [routerLink]="['/calendario']">Guardar</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
