.full-background {
    --background: #5dbd96;
  }

  .white-text {
    color: white;
    font-size: 40px;
    font-weight: bold;
  }
  
  .custom-margin {
    margin-top: 75px;
    margin-left: 14px;
  }
  
  .card-wrapper {
    position: relative;
    height: calc(100vh - 150px);
    margin-top: -63px;
  }
  
  .card-container {
    position: absolute;
    top: 0;
    left: 170px;
    transform: translateX(-50%);
    width: 95%;
    height: 100%;
    background-color: black;
    color: white;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }
  
  .content-wrapper {
    color: white;
  }
  
  ion-checkbox {
    --background: black;
    --border-radius: 5px;
    --border-color: white;
    --checkbox-background-checked: #b5a2e8;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #b5a2e8;
  }
  
  ion-picker {
    background: black;
    color: white;
  }
  
  ion-picker-column-option {
    color: white;
  }
  
  ion-list {
    color: white;
  }
  
  ion-select {
    color: white;
  }
  
  ion-textarea {
    color: white;
    --placeholder-color: gray;
    --background: transparent;
    --border-color: white;
    border-radius: 25px;
    margin-bottom: 20px;
  }
  
  ion-button {
    --background: #b5a2e8;
    --color: white;
    margin-top: 10px;
  }
  
  ion-select-option {
    color: black;
  }
  