<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="calendario"></ion-back-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar>
      <img [src]="fotoPerfil" alt="Foto de Perfil">
    </ion-avatar>
    <ion-label>
      <h2>{{ correoPrincipal }}</h2>
      <p>{{ nombreUsuario }}</p>
    </ion-label>
  </ion-item>

  <ion-button (click)="editarFotoPerfil()">Editar Foto de Perfil</ion-button>

  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="nombreUsuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Idioma</ion-label>
      <ion-input type="text" [(ngModel)]="idioma"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tema</ion-label>
      <ion-input type="text" [(ngModel)]="tema"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Versión</ion-label>
      <ion-input type="text" [(ngModel)]="version"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>
