.full-background {
    --background: #ffffff;
  }

.large-avatar {
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid #000000;  // Añade un borde blanco alrededor de la foto
}

.edit-button {
    display: block; // Hace que el botón se muestre debajo de la foto
    margin: 10px auto; // Centra el botón horizontalmente
    background-color:#ff601d;
    padding: 8px;
    border-radius: 12px;
    color: white;
}

.custom-inputs {
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    --padding-start: 10px;
    background-color: #ffffff;
  }
  
.item-margin {
    margin-bottom: 20px;
}

.no-background {
    background: none !important;
}

.btn-purple {
    background-color: #ff601d;
  }

.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
   
}

.content {
    text-align: center;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}